/* Fonte Xilosa por Átila: https://atilamilanio.com/Xilosa */
@font-face {
    font-family: "xilosa";
    src: url(xilosa_.ttf) format('truetype');
}
/* Fonte Robot por The Roboto Project Authors (https://github.com/googlefonts/roboto-classic) */
@font-face {
    font-family: "Roboto";
    src: url(Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url(Roboto-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url(Roboto-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url(Roboto-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}
body{
    font-family: "Roboto";
}
h1, h2, h3{
    font-family: "xilosa";
}
header.cordel-cabecalho{
    text-align: center;
    max-width: 30em;
}
#conteudo{
    text-align: center;
    max-width: 30em;
}
p.numeracao{
    font-family: "xilosa";
}
nav.menu_admin li{
    display: block;
}
nav.menu {
    max-width: 1224px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-top: 2rem;
}
nav.menu ul{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin: 0;
    padding: 0;
}
nav.menu li{
    display: block;
    list-style-type: none;
}
nav.menu li a {
    text-decoration: none;
    color: black;
    border-radius: 2rem;
    display: block;
    width: 130%;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
nav.menu li a:hover {
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 2rem;
    transition: 0.5s;
}
nav.menu img.logo{
    width: 3em;
    display: block;
}
section p.numeracao{
    text-align: center;
}
button, input[type=submit] {
    font-family: "xilosa";
    font-size: 1.3em;
}
.flex-container{
    display: flex;
}
#logo_index{
    max-width: 250px;
}
#text_index{
    max-width: 30em;
}

table{
    border: 2px solid black;
    border-collapse: collapse;

    margin: 5px;

    width: 30%;
}
td {
    border: 2px solid black;
}


table td, table th {
    text-align: center;
}