/* Fonte Xilosa por Átila: https://atilamilanio.com/Xilosa */
@font-face {
    font-family: "xilosa";
    src: url(xilosa_.ttf) format('truetype');
}
/* Fonte Robot por The Roboto Project Authors (https://github.com/googlefonts/roboto-classic) */
@font-face {
    font-family: "Roboto";
    src: url(Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url(Roboto-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url(Roboto-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url(Roboto-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto";
}
body.pagina-inicial{
    background-image: 
        url('img/pag-inicial/nuvem-grande.svg'),
        url('img/pag-inicial/lua.svg'),
        url('img/pag-inicial/nuvem-grande.svg'),
        url('img/pag-inicial/bandeiras.svg'),
        url('img/pag-inicial/cacto-footer1.svg'),
        url('img/pag-inicial/cacto-footer2.svg'),
        url('img/pag-inicial/borboleta.svg'),
        url('img/pag-inicial/caranguejo.svg');

    background-position:
        90% 34% , /* referente a 'nuvem-grande' */
        8% 37.5%,
        90% 72%,
        -3% 78%,
        97% 94%,
        3% 93%, /* referente a 'cacto-footer1' */
        34% 37%,
        67% 94%;

    background-size: 
        590px auto, 
        580px auto,
        590px auto,
        540px auto,
        210px auto,
        240px auto,
        40px auto,
        40px auto;

    background-repeat: no-repeat;
}
h1, h2, h3{
    font-family: "xilosa";
}
header.cordel-cabecalho{
    text-align: center;
    max-width: 30em;
}
#conteudo{
    text-align: center;
    max-width: 30em;
}
p.numeracao{
    font-family: "xilosa";
}
nav.menu_admin li{
    display: inline;
}
nav.menu ul{
    display: inline-block;
}
nav.menu li{
    display: block;
    list-style-type: none;
}
nav.menu li a {
    text-decoration: none;
    color: black;
    border-radius: 2rem;
    display: block;
    width: 130%;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
nav.menu li a:hover {
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 2rem;
    transition: 0.5s;
}
nav.menu img.logo{
    width: 3em;
    vertical-align: middle;
}
section p.numeracao{
    text-align: center;
}
button, input[type=submit] {
    font-family: "xilosa";
    font-size: 1.3em;
}
.flex-container{
    display: flex;
}
#logo_index{
    max-width: 250px;
}
#text_index{
    max-width: 30em;
}
table{
    border: 2px solid black;
    border-collapse: collapse;
    margin: 5px;
    width: 30%;
}
td {
    border: 2px solid black;
}
table td, table th {
    text-align: center;
}