{% extends "base.html" %}

{% block head %}
  <script>
  </script>
  <style>
      .cards-cordeis{
        display: flex;
        gap: 3rem;
        justify-content: center;
      }
      .card-cordel{
        background-color: #A1D7CA;
        width: 200px;
        height: 250px;
        text-align: center;
        padding-top: 1rem;
      }
      .card-cordel a{
        font-family: 'xilosa';
        text-decoration: none;
        color: black;
      }
  </style>
{% endblock %}

{% block content %}
    <main class="flex-container">
      <div id="text_index">
        <h1>Em Campus de Cordel</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna 
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
          ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          Duis aute irure dolor in reprehenderit in voluptate velit 
          esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia 
          deserunt mollit anim id est laborum.
          <br>
          <button onclick="window.location.href='{{ url_for('sobre_nos') }}'">Saiba mais</button>
        </p>
      </div>
      
      <figure>
        <img id="logo_index" src="{{ url_for('static', filename='logo.png') }}">
      </figure>
    </main>

    <section id="carrossel_index">
      <div class="cards-cordeis">
        {% set x = namespace(valor=0) %} <!-- x = variável temporária para só aparecer 4 cordéis na pagina principal -->
        {% for c in cordeis %}
          {% if c.destaque == True and x.valor < 4 %} 
            <div class="card-cordel">
              <a href="{{ url_for('cordel', id=c.id) }}">{{ c.titulo }}</a>
            </div>
            {% set x.valor = x.valor + 1 %}
          {% endif %}
        {% endfor %}
      </div>
    </section>

    <section class="secao_index">
      <h1>Explorar</h1>
      TODO
    </section>

    <section class="secao_index">
      <h1><a href="{{ url_for('novidades') }}">Novidades</a></h1>
      TODO
    </section>

    <section class="secao_index">
      <h1>Destaques</h1>
      TODO
    </section>
{% endblock %}