{% extends 'base.html' %}

{% block content %}

<style>
    main.novidades{
        max-width: 1224px;
        margin:0 auto;
        padding:0 2rem;
    }

    .titulo-pagina{
        margin-bottom:4rem;
    }

    .titulo-pagina h2{
        text-align:center;
        letter-spacing:.15em;
    }

    .titulo-pagina .linha{
        width: 67%;
        margin: 1rem auto 0;
        border: none;
        border-top: 3px solid #000;
    }
</style>

<main class="novidades">
    <section class="titulo-pagina">
        <h2>NOVIDADES</h2>
        <hr class="linha">
    </section>

    {% include 'nov-components/carrossel.html' %}
    {% include 'nov-components/separador.html' %}
    {% include 'nov-components/novidades-lista.html' %}
</main>
{% endblock %}