{% extends 'base.html' %}

{% block content %}

<style>
    main.novidades{
        max-width: 1224px;
        margin:0 auto;
        padding:0 2rem;
    }

    .titulo-pagina{
        margin-bottom:4rem;
    }

    .titulo-pagina h2{
        text-align:center;
        letter-spacing:.15em;
        font-size:1.8rem;
    }

    .titulo-pagina .linha{
        width: 67%;
        margin: 1rem auto 0;
        border: none;
        border-top: 3px solid #000;
    }
</style>

<main class="novidades">
    <section class="titulo-pagina">
        <h2>NOVIDADES</h2>
        <hr class="linha">
    </section>

    {% include 'components/nov-carrossel.html' %}
    {% include 'components/nov-separador.html' %}
    {% include 'components/mural-novidades.html' %}
</main>
{% include 'components/footer.html' %}
{% endblock %}